<!-- Auto generate example -->
<html>
<body>
<!-- raw special text {{ '{{' }} {{'}}'}} {{ '{%' }} {{ '%}' }}-->

{% for aval in bigul %}
{{ aval }} avalhhh
{% endfor %}
<div>
{% block body %}
	I'm parent block  {% endblock %}
{% if show %}
	I'm show {% endif %}
{% if notShow %}
	I'm not show {% endif %}
</div>
</body>
</html>
